#header-img{
  width: 350px;
}

a{
  color: black;
}
header{
  overflow: hidden;
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
min-height: 75px;
 
}
body{
background-color: white;
font-family: 'Lato', sans-serif;

}



@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
   
  }
}
  nav li {
    display: inline-block;
    margin-right: 50px;
    
 }
nav li a{
text-decoration: none;
}
.main{
min-height: 75px;
}
nav > ul{
 float: right;
 overflow:hidden;
}

.nav-link{
margin-left: 1300px;
margin-bottom: -500px;
}


#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

#email{
  width: 20%;
  margin-left: 500px;
  padding: 5px;
}
#button{
  margin-left: 570px;
  background-color: yellow;
  padding: 8px;
  cursor:pointer;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;

}


#center{
text-align: center;

}


#logo{
  width: 10%;
  height: 15%;
  display: flex;
  margin: 0 -5px;
}
.mtop{
margin-top: -10px;

}




.desk{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  }
desk p{
margin-bottom: 100px;
}

#fast{
padding-right:100px;
}
#quality{
padding-right:100px;
}
.container {
  width: 100%;
  margin: 50px auto 0 250px;

}
.grid{
  display: flex;
  max-width: 650px;
}
#video{
  margin-top: 50px;
  margin-left: 400px;
}







.box{
border: 2px solid grey;
width: 26%;
height: 46%;
text-align: center;
margin-left: 20px;
margin-top: 60px;


}
.class{
display: flex;
margin-left: 180px;
}



h4{
background-color: rgba(45, 45, 45, 0.1);
margin: 0; 
padding: 10px;
}

.select{
border: 1px solid white;
width: 100px;
height: 42px;
background-color: yellow;
}
button:hover{
  background-color: orange;
  transition: background-color 1s;

}



#display{
  display: flex;
  justify-content: space-around;

}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

footer ul{
float: right;
}
footer p{
margin: 50px 10px 30px 730px;
color: #444;

}
footer li a{
text-decoration: none;
}



footer li{
display: inline-block;
margin-right: 30px;
}

.footerbox{
border: 2px solid white;
width: 75%;
height: 15%;
bottom: 0;
background-color: rgba(45, 45, 45, 0.1); 
margin-left: 180px;
margin-top: 40px;
margin-bottom: 0px;

}





















